In [1]:
import numpy as np
import pandas as pd

# reading the datasets

In [2]:
cx_df = pd.read_excel('./TrainData/Customerdata_Train.xlsx')
cx_df.head()

,CustomerID,City,DateOfRegistration,OnlineCommunication,AutomaticRefill,DoorstepDelivery,PreferredDeliveryDay
0,C16368,CITY2,2012-09-28,0,0,0,Monday
1,C20345,CITY2,2010-12-19,1,1,1,Friday
2,C17683,CITY2,2010-10-03,0,0,0,Wednesday
3,C18647,CITY4,2010-11-27,0,0,0,Monday
4,C36692,CITY2,2009-12-04,1,1,0,Friday

In [3]:
cx_df.info(), cx_df.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23820 entries, 0 to 23819
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   CustomerID            23820 non-null  object
 1   City                  23820 non-null  object
 2   DateOfRegistration    23820 non-null  datetime64[ns]
 3   OnlineCommunication   23820 non-null  int64
 4   AutomaticRefill       23820 non-null  int64
 5   DoorstepDelivery      23820 non-null  int64
 6   PreferredDeliveryDay  23820 non-null  object
dtypes: datetime64[ns](1), int64(3), object(3)
memory usage: 1.3+ MB

(None, (23820, 7))

In [4]:
email_data = pd.read_excel('./TrainData/Emaildata_Train.xlsx')
email_data.head()

  CustomerID DateOfemail     EmailType timestamp MailOpened    MailClicked
0     C16368  2012-09-28  WelcomeEmail  15:56:50        yes  NotApplicable
1     C20345  2010-12-19  WelcomeEmail  15:10:30        yes  NotApplicable
2     C17683  2010-10-03  WelcomeEmail  17:12:24        yes  NotApplicable
3     C18647  2010-11-27  WelcomeEmail  16:59:02        yes  NotApplicable
4     C36692  2009-12-04  WelcomeEmail  17:27:22        yes  NotApplicable

In [5]:
email_data.info(), email_data.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 517672 entries, 0 to 517671
Data columns (total 6 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   CustomerID   517672 non-null  object
 1   DateOfemail  517672 non-null  object
 2   EmailType    517672 non-null  object
 3   timestamp    517672 non-null  object
 4   MailOpened   517672 non-null  object
 5   MailClicked  517672 non-null  object
dtypes: object(6)
memory usage: 23.7+ MB

(None, (517672, 6))

In [6]:
train_df = pd.read_excel('./TrainData/Train.xlsx')
train_df.head()

  CustomerID RetentionPotential
0     C37869                Low
1     C33841                Low
2     C29464                Low
3     C28158                Low
4     C22785               High

In [7]:
train_df.info(), train_df.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23820 entries, 0 to 23819
Data columns (total 2 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   CustomerID          23820 non-null  object
 1   RetentionPotential  23820 non-null  object
dtypes: object(2)
memory usage: 372.3+ KB

(None, (23820, 2))

In [8]:
transaction_df = pd.read_excel("./TrainData/transactionsdata_Train.xlsx")
transaction_df.head()

  CustomerID DateOfOrder timestamp  OrderQuantity
0     C16368  2013-08-11  15:17:52             15
1     C20345  2011-04-01  19:50:00             92
2     C20345  2012-06-29  15:11:56             95
3     C20345  2012-09-22  20:49:10             74
4     C20345  2011-08-23  11:50:26             81

In [9]:
transaction_df.info(), transaction_df.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104755 entries, 0 to 104754
Data columns (total 4 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   CustomerID     104755 non-null  object
 1   DateOfOrder    104755 non-null  object
 2   timestamp      104755 non-null  object
 3   OrderQuantity  104755 non-null  int64
dtypes: int64(1), object(3)
memory usage: 3.2+ MB

(None, (104755, 4))

In [10]:
len(cx_df.CustomerID.unique())

23820

In [11]:
len(email_data.CustomerID.unique())

23820

In [12]:
len(transaction_df.CustomerID.unique())

23820

In [13]:
pd.to_datetime(email_data.DateOfemail, infer_datetime_format=True)

0        2012-09-28
1        2010-12-19
2        2010-10-03
3        2010-11-27
4        2009-12-04
            ...
517667   2018-01-18
517668   2018-01-21
517669   2018-01-20
517670   2018-01-20
517671   2018-01-21
Name: DateOfemail, Length: 517672, dtype: datetime64[ns]

In [14]:
email_data['DateOfEmail'] = email_data.DateOfemail + ' ' + email_data.timestamp
dt_email = pd.to_datetime(email_data.DateOfEmail, infer_datetime_format=True)

In [15]:
email_data['DateOfEmail'] = dt_email
email_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 517672 entries, 0 to 517671
Data columns (total 7 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   CustomerID   517672 non-null  object
 1   DateOfemail  517672 non-null  object
 2   EmailType    517672 non-null  object
 3   timestamp    517672 non-null  object
 4   MailOpened   517672 non-null  object
 5   MailClicked  517672 non-null  object
 6   DateOfEmail  517672 non-null  datetime64[ns]
dtypes: datetime64[ns](1), object(6)
memory usage: 27.6+ MB

In [16]:
email_data.head()

,CustomerID,DateOfemail,EmailType,timestamp,MailOpened,MailClicked,DateOfEmail
0,C16368,2012-09-28,WelcomeEmail,15:56:50,yes,NotApplicable,2012-09-28 15:56:50
1,C20345,2010-12-19,WelcomeEmail,15:10:30,yes,NotApplicable,2010-12-19 15:10:30
2,C17683,2010-10-03,WelcomeEmail,17:12:24,yes,NotApplicable,2010-10-03 17:12:24
3,C18647,2010-11-27,WelcomeEmail,16:59:02,yes,NotApplicable,2010-11-27 16:59:02
4,C36692,2009-12-04,WelcomeEmail,17:27:22,yes,NotApplicable,2009-12-04 17:27:22

In [17]:
email_data.drop(['DateOfemail','timestamp'],axis=1,inplace=True)

In [18]:
email_data.head()

  CustomerID     EmailType MailOpened    MailClicked         DateOfEmail
0     C16368  WelcomeEmail        yes  NotApplicable 2012-09-28 15:56:50
1     C20345  WelcomeEmail        yes  NotApplicable 2010-12-19 15:10:30
2     C17683  WelcomeEmail        yes  NotApplicable 2010-10-03 17:12:24
3     C18647  WelcomeEmail        yes  NotApplicable 2010-11-27 16:59:02
4     C36692  WelcomeEmail        yes  NotApplicable 2009-12-04 17:27:22

In [19]:
transaction_df.head()

  CustomerID DateOfOrder timestamp  OrderQuantity
0     C16368  2013-08-11  15:17:52             15
1     C20345  2011-04-01  19:50:00             92
2     C20345  2012-06-29  15:11:56             95
3     C20345  2012-09-22  20:49:10             74
4     C20345  2011-08-23  11:50:26             81

In [20]:
transaction_df['DateOfOrders'] = transaction_df.DateOfOrder + " " + transaction_df.timestamp
dt_trasac = pd.to_datetime(transaction_df.DateOfOrders, infer_datetime_format=True)

In [21]:
transaction_df['DateOfOrders'] = dt_trasac

In [22]:
transaction_df.drop(['DateOfOrder','timestamp'],axis = 1, inplace=True)

In [23]:
transaction_df.head()

  CustomerID  OrderQuantity        DateOfOrders
0     C16368             15 2013-08-11 15:17:52
1     C20345             92 2011-04-01 19:50:00
2     C20345             95 2012-06-29 15:11:56
3     C20345             74 2012-09-22 20:49:10
4     C20345             81 2011-08-23 11:50:26

In [24]:
email_data.MailClicked.value_counts()

no               466011
yes               27841
NotApplicable     23820
Name: MailClicked, dtype: int64

In [42]:
email_final = email_data.groupby(by='CustomerID').agg({'EmailType': pd.Series.mode,'MailOpened': pd.Series.mode,'MailClicked': pd.Series.mode})

In [26]:
email_data['EmailType'].value_counts()

CustomizedEmail    493852
WelcomeEmail        23820
Name: EmailType, dtype: int64

In [27]:
transaction_df.head()

  CustomerID  OrderQuantity        DateOfOrders
0     C16368             15 2013-08-11 15:17:52
1     C20345             92 2011-04-01 19:50:00
2     C20345             95 2012-06-29 15:11:56
3     C20345             74 2012-09-22 20:49:10
4     C20345             81 2011-08-23 11:50:26

In [35]:
transaction_df['Day_of_week'] = transaction_df['DateOfOrders'].dt.dayofweek

In [36]:
transaction_df.head()

  CustomerID  OrderQuantity        DateOfOrders  Day_of_week
0     C16368             15 2013-08-11 15:17:52            6
1     C20345             92 2011-04-01 19:50:00            4
2     C20345             95 2012-06-29 15:11:56            4
3     C20345             74 2012-09-22 20:49:10            5
4     C20345             81 2011-08-23 11:50:26            1

In [46]:
transaction_final = transaction_df.groupby(by = 'CustomerID').agg({'OrderQuantity': np.mean, 'Day_of_week': np.mean})

In [44]:
df1 = cx_df.merge(email_final,on='CustomerID')

In [48]:
df2 = df1.merge(transaction_final, on='CustomerID')

In [51]:
df2.shape

(23820, 12)

In [52]:
df2.head()

,CustomerID,City,DateOfRegistration,OnlineCommunication,AutomaticRefill,DoorstepDelivery,PreferredDeliveryDay,EmailType,MailOpened,MailClicked,OrderQuantity,Day_of_week
0,C16368,CITY2,2012-09-28,0,0,0,Monday,CustomizedEmail,yes,no,15.000000,6.000000
1,C20345,CITY2,2010-12-19,1,1,1,Friday,CustomizedEmail,yes,no,83.946237,3.193548
2,C17683,CITY2,2010-10-03,0,0,0,Wednesday,WelcomeEmail,yes,NotApplicable,34.076923,2.384615
3,C18647,CITY4,2010-11-27,0,0,0,Monday,CustomizedEmail,yes,no,106.857143,1.571429
4,C36692,CITY2,2009-12-04,1,1,0,Friday,CustomizedEmail,no,no,69.117647,2.705882

In [53]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [54]:
df2['City'] = le.fit_transform(df2.City)

In [55]:
df2['PreferredDeliveryDay'] = le.fit_transform(df2.PreferredDeliveryDay)

In [56]:
df2['EmailType'] = le.fit_transform(df2.EmailType)

TypeError: Encoders require their input to be uniformly strings or numbers. Got ['ndarray', 'str']

In [59]:
df2.EmailType.value_counts()

TypeError: unhashable type: 'numpy.ndarray'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 1709, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'numpy.ndarray'

CustomizedEmail                    14002
WelcomeEmail                        9709
[CustomizedEmail, WelcomeEmail]        1
[CustomizedEmail, WelcomeEmail]        1
[CustomizedEmail, WelcomeEmail]        1
                                   ...
[CustomizedEmail, WelcomeEmail]        1
[CustomizedEmail, WelcomeEmail]        1
[CustomizedEmail, WelcomeEmail]        1
[CustomizedEmail, WelcomeEmail]        1
[CustomizedEmail, WelcomeEmail]        1
Name: EmailType, Length: 111, dtype: int64